<!DOCTYPE html>
<html lang="en">
  <head>
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport">
  <meta charset="UTF-8">
  {% block title %}
    <title>{{ page.title }}{{ " | " if page.title }}{{ site.title }}</title>
  {% endblock %}
  <link rel="stylesheet" href="{{ '/css/style.css' | baseurl | relative }}">
  <link rel="stylesheet" href="{{ '/css/prism.css' | baseurl | relative }}">
  </head>
  <body>
    <div class="wrapper">
    {% block body %}
    {{ content | safe }}
    {% endblock %}
    </div>
  </body>
</html>
