{% extends "default.njk" %}

{%- block body -%}
<p>Layout: index</p>
{{- navbar | safe -}}
{{- content | safe -}}
{%- endblock %}

{%- block title %}
  <title>{{ type }} | {{ site.title }}</title>
{%- endblock -%}
